#deliveryForm .sfm_textbox
{
    padding:1px;
}
#deliveryForm .sfm_textarea
{
    padding:2px;
    resize:none;
}
#deliveryForm .error_strings
{
    font-family:Verdana;
    font-size:12px;
    color:#660000;
}
#deliveryForm img
{
    border:0;
}
#deliveryForm .loading_div
{
    background-color:transparent;
    background-image:url("images/loading.gif");
    background-position:center center;
    background-repeat:no-repeat;
}
#deliveryForm input[type='submit'],input[type='reset']
{
    font:inherit;
    color:inherit;
}
#deliveryForm .sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
}
#deliveryForm .sfm_cr_box a
{
    color:#888888;
}
#deliveryForm .form_outer_div
{
    border:none;
    background-color:#ffffff;
}
#deliveryForm .sfm_form_label
{
    background-color:transparent;
}
#deliveryForm .element_label
{
    background-color:transparent;
}
body#sfm_deliveryForm_body
{
    background-color:transparent;
    font-family:Arial;
    font-size:12px;
    color:#000000;
    margin:0px;
}
#deliveryForm .form_outer_div
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
}
#deliveryForm .form_subheading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#deliveryForm .sfm_float_error_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
    background:none repeat scroll 0 0 #333333;
    border:0;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow:0 0 4px #333;
    border:none;
}
#deliveryForm .sfm_close_box
{
    font-family:Verdana;
    font-size:12px;
    color:#eeeeee;
}
#deliveryForm .progress_box_container
{
    border:1px solid #8e8e8e;
    background-color:#cccccc;
    font-family:Arial;
    font-size:10px;
    color:#ffffff;
    text-align:center;
    vertical-align:middle;
}
#deliveryForm .progress_box
{
    background-color:#333333;
    width:2px;
    float:left;
    margin:2px;
}
#deliveryForm .page_heading
{
    background-color:transparent;
    margin:0;
    padding:0;
}
#deliveryForm .page_number
{
    background-color:transparent;
}


#deliveryForm #label_container
{
    position:absolute;
    left:72px;
    top:21px;
    width:60px;
    height:20px;
    z-index:2;
}
#deliveryForm #label
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #username_container
{
    position:absolute;
    left:140px;
    top:19px;
    z-index:1;
}
#deliveryForm #username
{
    float:left;
    width:153px;
    z-index:1;
}
#deliveryForm #label1_container
{
    position:absolute;
    left:70px;
    top:46px;
    width:60px;
    height:20px;
    z-index:4;
}
#deliveryForm #label1
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #password_container
{
    position:absolute;
    left:140px;
    top:48px;
    z-index:3;
}
#deliveryForm #password
{
    float:left;
    width:152px;
    z-index:3;
}
#deliveryForm #label2_container
{
    position:absolute;
    left:21px;
    top:76px;
    width:107px;
    height:20px;
    z-index:5;
}
#deliveryForm #label2
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#deliveryForm #confirmPassword_container
{
    position:absolute;
    left:140px;
    top:77px;
    z-index:30;
}
#deliveryForm #confirmPassword
{
    float:left;
    width:152px;
    z-index:30;
}
#deliveryForm #label3_container
{
    position:absolute;
    left:67px;
    top:106px;
    width:60px;
    height:20px;
    z-index:6;
}
#deliveryForm #label3
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #firstName_container
{
    position:absolute;
    left:141px;
    top:108px;
    z-index:7;
}
#deliveryForm #firstName
{
    float:left;
    width:150px;
    z-index:7;
}
#deliveryForm #middleName_container
{
    position:absolute;
    left:142px;
    top:138px;
    z-index:8;
}
#deliveryForm #middleName
{
    float:left;
    width:149px;
    z-index:8;
}
#deliveryForm #label4_container
{
    position:absolute;
    left:56px;
    top:140px;
    width:75px;
    height:20px;
    z-index:20;
}
#deliveryForm #label4
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #label5_container
{
    position:absolute;
    left:70px;
    top:169px;
    width:60px;
    height:20px;
    z-index:21;
}
#deliveryForm #label5
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #lastName_container
{
    position:absolute;
    left:144px;
    top:168px;
    z-index:9;
}
#deliveryForm #lastName
{
    float:left;
    width:116px;
    z-index:9;
}
#deliveryForm #label6_container
{
    position:absolute;
    left:85px;
    top:203px;
    width:46px;
    height:20px;
    z-index:22;
}
#deliveryForm #label6
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #sex_0_container
{
    position:absolute;
    left:149px;
    top:205px;
    width:59px;
    height:18px;
    z-index:11;
}
#deliveryForm #sex_1_container
{
    position:absolute;
    left:218px;
    top:207px;
    width:70px;
    height:18px;
    z-index:12;
}
#deliveryForm #phoneNumber_container
{
    position:absolute;
    left:143px;
    top:230px;
    z-index:13;
}
#deliveryForm #phoneNumber
{
    float:left;
    width:146px;
    z-index:13;
    text-align:right;
}
#deliveryForm #label7_container
{
    position:absolute;
    left:46px;
    top:232px;
    width:88px;
    height:20px;
    z-index:23;
}
#deliveryForm #label7
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #emailId_container
{
    position:absolute;
    left:142px;
    top:262px;
    z-index:14;
}
#deliveryForm #emailId
{
    float:left;
    width:148px;
    z-index:14;
}
#deliveryForm #label8_container
{
    position:absolute;
    left:79px;
    top:264px;
    width:51px;
    height:20px;
    z-index:24;
}
#deliveryForm #label8
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #label9_container
{
    position:absolute;
    left:47px;
    top:294px;
    width:82px;
    height:20px;
    z-index:25;
}
#deliveryForm #label9
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #streetAddress_container
{
    position:absolute;
    left:141px;
    top:294px;
    z-index:15;
}
#deliveryForm #streetAddress
{
    float:left;
    width:213px;
    z-index:15;
}
#deliveryForm #country_container
{
    position:absolute;
    left:141px;
    top:324px;
    z-index:18;
}
#deliveryForm #country
{
    float:left;
    width:216px;
    height:22px;
    z-index:18;
}
#deliveryForm #label10_container
{
    position:absolute;
    left:83px;
    top:326px;
    width:44px;
    height:20px;
    z-index:26;
}
#deliveryForm #label10
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #zip_container
{
    position:absolute;
    left:306px;
    top:354px;
    z-index:17;
}
#deliveryForm #zip
{
    float:left;
    width:84px;
    z-index:17;
}
#deliveryForm #label12_container
{
    position:absolute;
    left:265px;
    top:356px;
    width:33px;
    height:20px;
    z-index:28;
}
#deliveryForm #label12
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#deliveryForm #city_container
{
    position:absolute;
    left:141px;
    top:355px;
    z-index:16;
}
#deliveryForm #city
{
    float:left;
    width:119px;
    z-index:16;
}
#deliveryForm #label11_container
{
    position:absolute;
    left:62px;
    top:358px;
    width:60px;
    height:20px;
    z-index:27;
}
#deliveryForm #label11
{
    position:absolute;
    top:3px;
    right:0px;
    text-align:right;
}
#deliveryForm #label13_container
{
    position:absolute;
    left:97px;
    top:390px;
    width:33px;
    height:20px;
    z-index:29;
}
#deliveryForm #label13
{
    position:absolute;
    top:3px;
    left:0px;
    text-align:left;
}
#deliveryForm #state_container
{
    position:absolute;
    left:142px;
    top:390px;
    z-index:19;
}
#deliveryForm #state
{
    float:left;
    width:136px;
    z-index:19;
}
#deliveryForm #Submit_container
{
    position:absolute;
    left:273px;
    top:430px;
    width:80px;
    height:25px;
    z-index:10;
}
#deliveryForm #deliveryForm_Submit_img
{
    width:84px;
    height:29px;
    border:none;
}
