<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">

		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://53af8dbb5973ca17a8000386-dhabi.rhcloud.com:61356/courierapp" />
		<property name="username" value="admin5BS6S9n" />
		<property name="password" value="iz_YDUqMFlqw" />
	</bean>

</beans>